@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-image: url(https://img.freepik.com/foto-gratis/concepto-mantel-rojo-cuadros-decoracion_53876-31714.jpg);
  background-size: cover;
}

.titulo {
  text-shadow: 3px 3px 3px rgb(65, 85, 64);
}

#carta {
  background-color: rgb(245, 245, 245);
  font-size: 3rem;
  border-radius: 5%;
  border: solid;
  box-shadow: 10px 10px 10px black;
}

#arribaizq {
  padding-top: 5%;
  padding-left: 5%;
  font-size: 4rem;
}
#centro {
  margin-top: 25%;
  margin-bottom: 25%;
  font-size: 250%;
}
#abajoder {
  padding-bottom: 5%;
  padding-right: 5%;
  font-size: 4rem;
  transform: rotateX(180deg);
}
